body {
  background-color: #55ccbb;
}

ul {
  list-style-type: none;
}

.inp-field-right {
	text-align:right;
}

.inp-field-left {
	text-align:left;
}

.main-div {
  text-align:center;
}

.disp {
  display: inline-block;
  vertical-align: top;
}